<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boaviagem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BoaViagem">

        <!-- Tela de Login -->
        <activity
            android:name=".BoaViagemActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela do Dashboard -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <!-- Tela nova viagem -->
        <activity
            android:name=".ViagemActivity"
            android:exported="true" />
        <!-- Tela novo gasto -->
        <activity
            android:name=".GastoActivity"
            android:exported="true" />
        <activity
            android:name=".ViagemListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".GastosListActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ConfiguracoesActivity"
            android:exported="true">
        </activity>


    </application>

</manifest>
